html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.btn{
    padding: 10px 20px;
    background-color: #3882f6;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 5px;
    border: none;
    color:#e5e7eb;
    align-self: flex-start;
}
.logo{
    color: #e5e7eb;
    font-size: x-large;
    font-weight: bold;
}
.container{
    min-width: 100vw;
    margin: 0 auto;
    padding: 0 150px;
    flex: 1;
}

.navbar{
    height: 70px;
    background-color: #1f2937;
    min-height: 0px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 30px;
}


.header{
    height: 375px;
    background-color: #1f2937;
    padding-top: 50px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
}
.header .container .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header, .section, .conclusion, .contain, .footer{
    display: flex;
    flex: 1;
}

.header .container img{
    width: 450px;
    height: 300px;
}
.header .container p{
    width: 450px;
    height: 124px;
}

.section{
    margin-top: 80px;
    height: 500px;
}

.section .container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}


.section .container .contents{
    display: flex;
    gap: 30px;
   
}
h3{
    text-align: center;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
.section .container .contents div p{
    color: #1f2937;
    font-size: 18px;
    height: 200px;
}

img {
    width: auto;
    height: 220px;
}

.section2 .container{
    margin-top: 0px;
    height: 300px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.section2 .container blockquote{
    display: flex;
    font-size: 36px;
    font-style: italic;
    width: 100%;
    flex-direction: column;
    color: #1f2937;
    align-items: center;
    justify-content: center;
}
.section2 .container cite{
    display: inline-flex;    
    width: 260px; 
    margin-left: auto;
    font-size: large;
    font-weight: bold;
}
.section2 .container p{
    color: #1f2937;
}

.conclusion{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: flex-end;
}
.conclusion .wrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.conclusion .contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    background-color: #3882f6;
    padding: 50px 350px;

}
.sign-up{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 30px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.footer{
    color: #e5e7eb;

}


.footer .container{
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    background-color: #1f2937;
    margin-top: 100px
    
}

h1{
    font-size: 48px ;
    font-weight:bolder;
    color: #f9faf8;
    align-items: center;
  
}
.para{
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px 0px;;
}