html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.btn{
    padding: 10px 15px;
    background-color: #3882f6;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 5px;
    border: none;
    color:#e5e7eb;
    align-self: flex-start;
}
.logo{
    color: #e5e7eb;
    font-size: x-large;
    font-weight: bold;
}
.container{
    min-width: 100vw;
    margin: 0 auto;
    padding: 0 150px;
    flex: 1;
}

.navbar{
    height: 70px;
    background-color: #1f2937;
    min-height: 0px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 30px;
}


.header{
    height: 375px;
    background-color: #1f2937;
    padding-top: 50px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 0px;
}
.header .container .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header .container img, p{
    width: 450px;
    height: auto;
}

h1{
    font-size: 48px ;
    font-weight:bolder;
    color: #f9faf8;
    align-items: center;
  
}
p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px 0px;;
}